In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame,Series

In [2]:
# Lets create some data to play with:

# Note: It is not necessary to understand how this dataset was made to understand this Lecture.

#import pandas testing utility
import pandas.util.testing as tm; tm.N = 3

#Create a unpivoted function
def unpivot(frame):
    N, K = frame.shape
    
    data = {'value' : frame.values.ravel('F'),
            'variable' : np.asarray(frame.columns).repeat(N),
            'date' : np.tile(np.asarray(frame.index), K)}
    
    # Return the DataFrame
    return DataFrame(data, columns=['date', 'variable', 'value'])

#Set the DataFrame we'll be using
dframe = unpivot(tm.makeTimeDataFrame())

In [3]:
dframe

         date variable     value
0  2000-01-03        A  1.147641
1  2000-01-04        A -0.026888
2  2000-01-05        A -0.329555
3  2000-01-03        B -1.544314
4  2000-01-04        B -1.201556
5  2000-01-05        B  1.004350
6  2000-01-03        C  0.698937
7  2000-01-04        C -0.902669
8  2000-01-05        C  0.926493
9  2000-01-03        D -0.351462
10 2000-01-04        D  0.904122
11 2000-01-05        D -1.577983

In [6]:
dframe_piv=dframe.pivot("date","variable","value")

In [8]:
dframe_piv

variable           A         B         C         D
date
2000-01-03  1.147641 -1.544314  0.698937 -0.351462
2000-01-04 -0.026888 -1.201556 -0.902669  0.904122
2000-01-05 -0.329555  1.004350  0.926493 -1.577983